@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Seymour+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Seymour One", sans-serif;
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
  .btn-primary {
    background-color: #a5fc03;
    border-radius: 4px;
    margin-left: 5px;
    padding: 3px 10px;
  }
  .btn-primary:hover{
    background-color: #83bd16;
  }
}