@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
    /* ... */
    .myButton{
        background-color: orange;
        padding: 5px 10px;
        margin-left: 5px;
        border-radius: 4px;
    }
    .myButton:hover{
        background-color: rgb(188, 125, 9);
    }
    .check{
        text-decoration: line-through;
    }
  }